.ActorCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ActorCard img {
    width: 120px;
    height: 150px;
}

.ActorCard h3 {
    margin: 2px 0 5px 0;
}

.ActorCard h6 {
    margin-top: 2px;
}